doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title temple
        link(rel="stylesheet" href="index.css")
    body 
        div
            .--nav
                .--nav1 
                    p.--logo TEMPLE
                .--nav2.--gray
                    a.--nolink(href="#") work 
                    a.--nolink(href="#") about 
                    a.--nolink(href="#")  contact
            #dvi.--div--img
    .--grid2   
        .--grid2--div1
            p Temple is a design practice that works with clients in the cultural sectors and creates design-related products including fonts and apparel.
            p 
                span find more 
                span
                    a.--nolink(href="#") abour us 
                span see our 
                span
                    a.--nolink(href="") work 
                span
                    or wright to us 

            a.--nolink(href="#") mail@mail.com
    .--grid2--div2
        hr(style="color:#8f8f8f;width:100%")
        .--btm--nav 
            a.--nolink(href="#") Emali 
            a.--nolink(href="#") twitter
            a.--nolink(href="#") tumblr
            a.--nolink(href="#") behance





    script(src="./logic.js") 
